

#about,#contact, #skills, #aboutResponsive,#skillsResponsive, #projectsResponsive  {
  position: relative;
  font-family: 'Space Mono', monospace;
  font-weight: 800;
  text-transform: uppercase;
  /* color:transparent;  */
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

#about:hover,#projects:hover,#contact:hover, #skills:hover {
  background-color: white;
  color: black;
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
  padding: 0rem clamp(2rem, 2vw, 3rem);
}

#projects:hover{

  background-color: red;
}


#about {
 animation: appear 0.7s ;
}
#contact {
 animation: appear 1.0s ;
}
#skills {
 animation: appear 1.5s ;
}


#projects {
  position: relative;
  text-transform: uppercase;
  /* color:transparent;  */
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
 animation: appearProject 4s  ;
 font-weight: 1000;

}


@keyframes appear {
0% {
  opacity:0;
}
99% {
  opacity:0;
}
100% {
  opacity:1;
}
}

@media only screen and (max-width: 768px) {
  .nonresponsive {
    display: none;
  }
}


@keyframes appearProject {
0% {
  color:red;
  opacity:0;
}
80% {
  opacity:1;
  color:red;
    filter:drop-shadow(0 0 35px #ff0000)

}
90% {
  color:white;
}
100% {
}
}


