
.doorToCat{
  width: 100%;
  height: 100%;
  margin-top: 8em;
  margin-left: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
    perspective: 1000px;

}


.doorToCat span {
  border-radius: 100%;
  position: absolute;
}

/* Inner circle */
.doorToCat span:nth-child(1) {
  height: 55vh;
  width:55vh;
  background: white;
  border: 3px solid #fff;
  z-index: 1;
  box-shadow: 0 0 55px #ffffff; 
  animation: innerAnimation 2s cubic-bezier(.23,.84,.68,.92);

}

/* Outer circle */
.doorToCat span:nth-child(2) {
  height: 72vh;
  width: 72vh;
  background: black;
  border: 3px solid #fff;
       box-shadow: 0 0 15px #ffffff; 
  animation: outerAnimation 4s cubic-bezier(.23,.84,.68,.92);
}

.doorToCat span:nth-child(3) {

  height: 38vh;
  width: 38vh;
  /* border-radius: 0%; */
  background: black;
  z-index: 3;
       box-shadow: 0 0 25px black;
}


.doorToCat span:nth-child(4) {
  height: 22vh;
  width: 21vh;
  border-radius: 0%;
  background: black;
  z-index: 5;
  object-fit: cover;
  transition: all 0.5s;
  transform-origin: left;
}


.doorToCat span:nth-child(5) {
  height: 23vh;
  width: 20vh;
  background-image: url("../Assets/catcheese.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 0%;
  z-index: 4;
}


.swingAnimation {
  transform: rotateY(-90deg);
  transition-duration: 900ms;
  animation-delay: -100ms;
}

@keyframes outerAnimation {
0%{ transform: translateX(-28em); }
100%{
  transform: translateX(0);
}
}

@keyframes innerAnimation {
0%{ transform: translateX(28em); }
100%{
  transform: translateX(0);
}
}

@media screen and (max-width: 600px) {
  .doorToCat{
    display: flex;
    transform: scale(60%);
    justify-items: center;
    width: 18vh;
    padding-top: 65em;
    justify-content: center;
  }

  .doorToCat span:nth-child(4) {
    display: none;
  }

  #menu{
    margin-top: 12em;
  }

}
